


/*=========================== COURSES ============================== */


.courses__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.course {
    background: var(--color-hov);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.course:hover {
    background: var(--transparent);
    border-color: var(--color-stext);
}

.course__info {
    padding: 2rem;
}

.course__info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}